#app {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* demo styles */
#demo div {
  font-size: 50px;
  font-weight: 800;
}

#header-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

#list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-container-small {
  width: 20vw;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.img-small {
  max-width: 10vw;
}

.pages-li {
  margin: 0 2vw;
}

.pages-ul {
  list-style-type: none;
  display: flex;
}

@media (max-width: 900px) {
  #header-container {
    text-align: center;
  }
  .item-container-small {
    width: 80vw;
  }
  .img-small {
    max-width: 80vw;
  }
}
